doctype html
html
	head
		meta(charset="utf-8")
		title SuperMeteo Portal
		link(rel="stylesheet", href="stylesheets/style.css")
		script(src="javascripts/script.js")
	body(onload="loadCities()")
		h1 Bienvenue sur SuperMeteo Portal!
		p Selectionnez votre ville:
			select(name="city")#city_selector
			button(onclick="loadCity()") Charger la ville!
			
			
		h1 Météo
		#weather
			
		h1 Actualités
		#news
